// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
  list-style: none;
}

.highlight{
  background-color: #E6E6E6;
  border-radius: 5px;
  border: solid 1px #B3B3B3;
  display: flex;
  padding: 0px 20px;
}

.delete i{
  font-weight: lighter !important;
}


.edit-button{
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #FFFF66;
  border-radius: 5px;
  border: solid 1px #B3B3B3;
  display: flex;
  padding: 0px 20px;
}

.edit-button > a{
  text-decoration: none;
}
